@model CascadingDropDownApp.Models.CustomerAddressModels

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CustomerAddressModels</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PermanentCountry.CountryCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PermanentCountry.CountryCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PermanentDistrict.DistrictCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PermanentDistrict.DistrictCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PermanentDivision.DivisionCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PermanentDivision.DivisionCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PermanentUnionParishad.UnionParishadCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PermanentUnionParishad.UnionParishadCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PermanentUpazilla.UpazilaCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PermanentUpazilla.UpazilaCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PresentCountry.CountryCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PresentCountry.CountryCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PresentDistrict.DistrictCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PresentDistrict.DistrictCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PresentDivision.DivisionCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PresentDivision.DivisionCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PresentUnionParishad.UnionParishadCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PresentUnionParishad.UnionParishadCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PresentUpazila.UpazilaCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PresentUpazila.UpazilaCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PresentHome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PresentHome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PresentRoadNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PresentRoadNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PresentVillage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PresentVillage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PermanentHome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PermanentHome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PermanentRoadNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PermanentRoadNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PermanentVillage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PermanentVillage)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
