@model CascadingDropDownApp.Models.BookingTicket

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BookingTicket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DistrictFrom.DistrictCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DistrictFrom.DistrictCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DistrictTo.DistrictCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DistrictTo.DistrictCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PassengerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PassengerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BookingTicketId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
